params {
    srr = 'SRR4101836'

    gtf     = '/absolute/path/to/annotation.gtf'
    index   = '/absolute/path/to/hisat2_index/genome'
    protein = '/absolute/path/to/protein.faa'
    counts  = '/absolute/path/to/important_genes.csv'

    eggnog_db = '/absolute/path/to/eggnog_db'
    metabolic_model = '/absolute/path/to/msystems.00157-18-sd001_converted.csv'
    locus_prefix = 'DJ41_'

    outdir = 'results'
}
