params {
    srr = 'SRR4101836'

    gtf     = 'reference/annotation.gtf'
    index   = 'reference/hisat2_index/genome'
    protein = 'reference/protein.faa'
    counts  = 'data/important_genes.csv'

    eggnog_db = '/path/to/eggnog_db'
    metabolic_model = ''
    locus_prefix = 'DJ41_'

    outdir = 'results'
}
